// Custom template

@font-face {
    font-family:"icons";
    src: url("../iconfont/icons.woff?4173b97e824392c0f76a1cfeae2d8888") format("woff");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
    }

.icon {
    font-family:"icons";
    display:inline-block;
    font-style:normal;
    speak:none;
    -webkit-font-smoothing:antialiased;
    font-size:1em;
    line-height:1em;
    vertical-align:baseline;
    }

// Icons
.icon--bottom-arrow:before { content:"\f101"; }
.icon--calendar:before { content:"\f102"; }
.icon--certification:before { content:"\f103"; }
.icon--checklist:before { content:"\f104"; }
.icon--chevron:before { content:"\f105"; }
.icon--clock:before { content:"\f106"; }
.icon--close:before { content:"\f107"; }
.icon--cookies:before { content:"\f108"; }
.icon--download:before { content:"\f109"; }
.icon--evaluation-qualite:before { content:"\f10a"; }
.icon--facebook:before { content:"\f10b"; }
.icon--form:before { content:"\f10c"; }
.icon--left-arrow:before { content:"\f10d"; }
.icon--light:before { content:"\f10e"; }
.icon--linkedin:before { content:"\f10f"; }
.icon--logo-jb:before { content:"\f110"; }
.icon--materiel:before { content:"\f111"; }
.icon--more:before { content:"\f112"; }
.icon--objectif:before { content:"\f113"; }
.icon--pedagogie:before { content:"\f114"; }
.icon--player:before { content:"\f115"; }
.icon--public:before { content:"\f116"; }
.icon--right-arrow:before { content:"\f117"; } 
.icon--search:before { content:"\f118"; }
.icon--studient-hat:before { content:"\f119"; }
.icon--success:before { content:"\f11a"; }
.icon--trainer:before { content:"\f11b"; }
.icon--twitter:before { content:"\f11c"; }
.icon--warning:before { content:"\f11d"; }