// Custom template

@font-face {
    font-family:"icons";
    src: url("../iconfont/icons.eot?6fd33c7ba3084574783682c95b5d537f");
    src: url("../iconfont/icons.eot?6fd33c7ba3084574783682c95b5d537f#iefix") format("embedded-opentype"),
		url("../iconfont/icons.woff?6fd33c7ba3084574783682c95b5d537f") format("woff"),
		url("../iconfont/icons.ttf?6fd33c7ba3084574783682c95b5d537f") format("truetype"),
		url("../iconfont/icons.svg?6fd33c7ba3084574783682c95b5d537f#icons") format("svg");
    font-weight:normal;
    font-style:normal;
    }

.icon {
    font-family:"icons";
    display:inline-block;
    font-style:normal;
    speak:none;
    -webkit-font-smoothing:antialiased;
    font-size:1em;
    line-height:1em;
    vertical-align:middle;
    }

// Icons
.icon--bottom-arrow:before { content:"\f101"; }
.icon--calendar:before { content:"\f102"; }
.icon--certification:before { content:"\f103"; }
.icon--checklist:before { content:"\f104"; }
.icon--clock:before { content:"\f105"; }
.icon--close:before { content:"\f106"; }
.icon--cookies:before { content:"\f107"; }
.icon--evaluation-qualite:before { content:"\f108"; }
.icon--facebook:before { content:"\f109"; }
.icon--left-arrow:before { content:"\f10a"; }
.icon--linkedin:before { content:"\f10b"; }
.icon--logo-hs2:before { content:"\f10c"; }
.icon--materiel:before { content:"\f10d"; }
.icon--more:before { content:"\f10e"; }
.icon--objectif:before { content:"\f10f"; }
.icon--pedagogie:before { content:"\f110"; }
.icon--player:before { content:"\f111"; }
.icon--public:before { content:"\f112"; }
.icon--right-arrow:before { content:"\f113"; }
.icon--search:before { content:"\f114"; }
.icon--studient-hat:before { content:"\f115"; }
.icon--trainer:before { content:"\f116"; }
.icon--twitter:before { content:"\f117"; }