// Font
$fontprimary: "MuseoSlab-500";
$fontsecondary: "MuseoSansRounded-900";

// Borders radius
$bordersmall : 5px;
 
// COLORS
$colorblack     : #000;
$colorblue      : #64c2b3;
$colorbluedark  : #002a43;
$colorbluelight : #d4eeea;
$colorwhite     : #FFF;
$colorgrey      : #b1b1b1;
$colorgreylight : #f2f2f2;
$colorerror         : #f2133d;


// Colors for dashboard
$dbcolorgreen : #2AD895;
$dbcolorbluedark : #1a1c22;
$dbcolorgreylight : #f0f0f1;
$colorjb : #e08c81;
$dbcolored : #EB4039;


// Animations
$easeinout : cubic-bezier(0.215, 0.600, 0.270, 0.995);


//== Media queries breakpoints

// Extra small screen / phone
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 1024px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
$screen-lg: 1280px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;

// XLarge screen / wide desktop
$screen-xl: 1680px !default;
$screen-xl-min: $screen-xl !default;
$screen-xl-desktop: $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
$screen-lg-max: ($screen-xl-min - 1) !default;