html {
	min-height:100%;
	margin: 0 !important;

	&.html--hidden{
		overflow: hidden;
	}
}
body{
	position: relative;
	color:$colorbluedark;
	font-family: $fontprimary;
	font-weight: normal;
	width: 100%;
	min-height: 100%;
	font-size:1rem;
	line-height:1.5rem;
	text-rendering: geometricPrecision;
	margin: 0;
	hyphens: inherit;

	&:after{
		content: '';
		position:fixed;
		top: 0;
		left: 0;
		width:100%;
		height:100%;
		z-index:4;
		opacity:0;
		visibility:hidden;
		pointer-events: none;
		background-color:rgba($colorblack, 0);
		transition:all .4s cubic-bezier(.694,.048,.335,1);
	}
	&.body-noscroll{
		overflow: hidden;
	}
	&.menu--open{
		header {
			.header-logo{
				filter: brightness(0) invert(1);
			}
		}
		&:after{
			background-color:rgba($colorblack, 0.8);
			opacity: 1;
			visibility:visible;
			backdrop-filter: blur(0.875rem);
		}
	}
	&:not(.wp-admin){
		#wpadminbar{
			top: inherit;
			bottom: 0;
			position: fixed;
		}
	}
}

*{
	box-sizing: border-box;

	&:focus {
		outline:none;
	}
	&::selection{
		background: rgba($colorblue, .4);
	}
}

button{
	background: none;
	border: 0;
	padding: 0;
}

.cbo-up{
	cursor: pointer;
	background: $colorblue;
	border-radius: 99rem;
	position: fixed;
	bottom: 1.25rem;
	right: 1.25rem;
	color: $colorwhite;
	width: 3.125rem;
	height: 3.125rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25rem;
	opacity: 0;
	visibility: hidden;
	border: 0;
	z-index: 3;
	transition: all .4s;

	i{
		transform: rotate(180deg);
	}
	&.show {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	&.hide {
		opacity: 0;
		visibility: hidden;
	}
	&:hover{
		background: $colorbluedark;
	}
}

.cbo-page{
	section{
		&:first-child{
			.cbo-container{
				padding-top: 8.75rem;
				margin-top: 0;
			}
		}
	}
	.page--search{
		.search-count{
			max-width: 50rem;
			margin: 0 auto;
		}
	}
}

/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
	.cbo-page{
		section{
			&:first-child{
				.cbo-container{
					padding-top: 14.375rem;
				}
			}
		}
	}
}