/* -------------------------------
FOOTER COMPONENT
------------------------------- */
footer{
	background:$colorbluedark  url(../images/pattern-footer.png) no-repeat left top ;
	color:rgba($colorwhite, .5);

	a{
		text-decoration: none;
		color:rgba($colorwhite, .5);
		transition:all .4s cubic-bezier(.694,.048,.335,1);

		&:hover{
			color:rgba($colorwhite, 1);
		}
	}
	.footer-logo{
		width: 7.5rem;
		display: table;
		margin: 0 auto 1.25rem auto;
	}
	.col-footer{
		padding:0 0 1.25rem 0;
		margin:0 0 1.25rem 0;
		border-bottom: 0.0625rem solid rgba($colorblue, .4);
		
		&:last-child{
			padding:0;
			margin:0;
			border-bottom: 0rem;
		}
		.footer-title{
			color:$colorblue;
			display: flex;
			font-size: 1rem;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;

			i{
				transform: rotate(0);
				transition: all .4s;
			}
			&.title--open{
				i{
					transform: rotate(90deg);
				}
			}
		}
		.footer-nav{
			display: none;
			font-size: 0.875rem;
			line-height: 1.125rem;

			&.nav--open{
				display: block;
			}
			a{
				margin-top: 0.625rem;
				display: block;
			}
		}
		&.footer-newsletter{
			background: $colorwhite;
			border-radius: 0.4375rem;
			padding: 1.25rem;

			.footer-title{
				margin-bottom: 1.25rem;
			}
			p{
				color: $colorbluedark;
				font-size: 0.875rem;
				font-style: italic;
			}
		}
	}
}
.hs-footer-bot{
	background:#002135;
	color:rgba($colorwhite, .5);
	padding:0.9375rem 1.875rem;
	width:100%;
	font-size:0.75rem;
	text-align: center;

	.footer-logo{
		justify-content: center;
		padding: 2.5rem 0;
		display: flex;

		img{
			margin: 0 0.625rem;
			width: 9.375rem;
		}
	}
	.footer-organisme{
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;

		img{
			width: 1.25rem;
			margin: 0 0 0 0.625rem;
		}
	}
	a{
		color:rgba($colorwhite, .5);
		transition:all .4s cubic-bezier(.694,.048,.335,1);

		&:hover{
			color:rgba($colorwhite, 1);
		}
	}
}

/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	footer{
		.footer-inner.cbo-container{
			display: flex;
			flex-wrap:wrap;
			padding-top: 4.375rem;
			padding-bottom: 4.375rem;
		}
		.footer-logo{
			width: 100%;
			text-align: center;
			margin-bottom: 2.5rem;
		}
		.col-footer{
			width: 25%;
			padding:0 1.25rem 0 0;
			margin:0;
			border:0rem;

			.footer-title{
				margin-bottom: 1.25rem;
				cursor: auto;

				i{
					display: none;
				}
			}
			.footer-nav{
				display: block;
			}
			&.footer-newsletter{
				.footer-title{
					margin-bottom: 0;
				}
			}
		}
	}
}