/* -------------------------------
HEADER COMPONENT
------------------------------- */
header{
	position:fixed;
	z-index:9;
	top:0;
	left:0;
	width:100%;
	padding:1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition:all .4s cubic-bezier(.694,.048,.335,1);

	&:after{
		content:"";
		background:$colorblue;
		position: absolute;
		top: 0;
		left:0;
		height:100%;
		width: 100%;
		z-index: 1;
		transform: scaleY(0);
		transform-origin: bottom;
		transition: 0.4s transform cubic-bezier(0.77, 0, 0.175, 1) 0s, 0.4s visibility 0s;
	}
	&.header-scroll{
		padding: 0.625rem 1.25rem;

		&:after{
			transform: none;
		}
		.header-logo{
			filter: brightness(0) invert(1);
		}
		.header-content {
			.header-buttons {
				.burger-menu{
					box-shadow:0rem 0rem 0rem 0.125rem $colorwhite inset;

					.top,
					.middle,
					.bottom{
						background-color:$colorwhite;
					}
				}
			}
		}
	}
	.header-logo{
		position: relative;
		z-index: 5;
		height: 3.125rem;
		width: 8.75rem;
		transition: all .4s;
	}

	.header-content{
		.header-buttons{
			display: flex;
			align-items: center;
			position: relative;
			z-index: 2;
	
			.search-button{
				.icon--search{
					cursor: pointer;
					height: 2.5rem;
					width: 2.5rem;
					margin:0 0.625rem 0 0;
					border-radius: $bordersmall;
					background: $colorwhite;
					color: $colorblue;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					font-size: 1rem;
					transition: all .4s;
				}
			}
			.burger-menu{
				display:block;
				position: relative;
				z-index: 999;
				border-radius:50%;
				width: 2.5rem;
				height: 2.5rem;
				box-shadow:0rem 0rem 0rem 0.125rem $colorblue inset;
				
				.top,
				.middle,
				.bottom{
					background-color:$colorblue;
					width:1.25rem;
					height:0.125rem;
					border-radius: 0.4375rem;
					position:absolute;
					left: 0.625rem;
					transition:all .3s;
				}
				.top{
					top:0.8125rem;
				}
				.middle{
					top:1.25rem;
				}
				.bottom{
					top:1.6875rem;
				}
				&.burger-menu-cross{
					.top{
						transform: rotate3d(0, 0, 1, 45deg);
						transform-origin: 50% 50% 0rem;
						top: 1.25rem;
					}
					.middle{
						opacity:0;
					}
					.bottom{
						transform: rotate3d(0, 0, 1, -45deg);
						transform-origin: 50% 50% 0rem;
						top: 1.25rem;
					}
				}
			}
		}
		.header-nav{
			padding-top: 6.25rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			overflow-y: auto;
			background:$colorblue;
			width: 17.5rem;
			position: fixed;
			top: 0;
			left: 0;
			height: 100dvh;
			z-index: 3;
			transform:translateX(-110%);
			transition: all 0.8s cubic-bezier(0.85, 0, 0.15, 1) 0s;

			&.nav--open{
				transform:translateX(0%);
			}

			ul{
				li{
					border-bottom:0.0625rem solid rgba($colorbluelight, .4);
					position: relative;

					&.current-menu-item{
						a{
							color: $colorbluedark;
						}
					}
					a{
						color:$colorwhite;
						position: relative;
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding:0.875rem 1.25rem 0.875rem 1.25rem;
					}
					&.current-menu-parent{
						a{
							color: $colorbluedark;
						}
					}
					&.menu-item-has-children{
						a{
							&:after{
								font-family:"icons";
								content: "\f105";
								position:relative;
								font-size: 0.75rem;
								transform: rotate(-90deg);
								transition: .2s cubic-bezier(0.68,-.55,.265,1.55);
							}
						}
						&.active{
							a{
								color: $colorbluedark;

								&:after{
									transform: rotate(0deg);
								}
							}
						}
						.sub-menu{
							display:none;
							padding:0rem;
							background: rgba($colorbluedark, .1);
							transition:all .4s;

							li{
								a{
									font-size:0.875rem;
									color: $colorwhite;

									&:after{
										display:none;
									}
								}
								&.current-menu-item {
									a{
										color: $colorbluedark;
									}
								}
							}
							&.submenu--open{
								display: block;
							}
						}
					}
				}
			}
		}
	}
}

/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: 68.125rem){
	header{
		padding: 0 1.25rem;

		&.header-scroll{
			.header-content{
				.header-nav{
					ul{
						li{
							&.hs-header-bt-contact{
								&.current-menu-item,
								&:hover{
									a{
										color: $colorblue;
									}
								}
							}
							&.menu-item-has-children{
								&:hover{
									a{
										color:$colorbluedark;
									}
								}
							}
							a{
								&:hover{
									color:$colorbluedark;
								}
							}
							&.hs-header-bt-contact{
								a{
									background:$colorbluedark;
								}
							}
							&.current-menu-parent,
							&.current_page_item{
								a{
									color:$colorbluedark;
								}
							}
						}
					}
				}
			}
		}
		.header-content{
			display: flex;
			align-items: center;

			.header-buttons {
				.burger-menu{
					display: none;
				}
				.search-button {
					.icon--search{
						margin: 0 0 0 1.25rem;

						&:hover{
							background: $colorblue;
							color: $colorwhite;
						}
					}
				}
			}
			.header-nav{
				transform: translate(0);
				background: none;
				position: unset;
				width: auto;
				overflow: initial;
				align-items: center;
				padding: 0;
				height: auto;

				ul{
					li{
						display:inline-block;
						border-bottom: 0rem;
						position: unset;

						a{
							padding: 1.625rem 0.875rem;
							display: flex;
							align-items: center;
							transition:all .4s cubic-bezier(.694,.048,.335,1);

							&:hover{
								color:$colorblue;
							}
						}
						&.current-menu-parent,
						&.current_page_item{
							a{
								color:$colorblue;
							}
						}
						&.hs-header-bt-contact{
							a{
								padding:0.8125rem 1.5rem;
								height: 2.5rem;

								&:after{
									display: none;
								}
							}
							&.current-menu-item {
								a{
									color: $colorwhite;
								}
							}
							&:hover{
								a{
									background: $colorwhite;
									color: $colorblue;
								}
							}
						}
						&.menu-item-has-children{
							a{
								&:after{
									font-size: 0.5rem;
									margin-left: 0.25rem;
								}
							}
							&.active{
								a{
									color: $colorblue;
								}
							}
							&:hover {
								a{
									color: $colorblue;

									&:after{
										transform: rotate(0deg);
									}
								}
								.sub-menu{
									opacity: 1;
									visibility: visible;
									transition-delay: 0s;
									transition: 0.4s transform cubic-bezier(0.77, 0, 0.175, 1) 0s, 0.4s visibility 0s, 0.4s opacity ease 0.2s;
									transform: none;
								}
							}
							.sub-menu{
								display: block;
								visibility: hidden;
								pointer-events: auto;
								z-index: 9;
								padding:6.25rem 0;
								width: 100vw;
								transform: scaleY(0);
								transition: 0.4s transform cubic-bezier(0.77, 0, 0.175, 1) 0s, 0.4s visibility 0s, 0.4s opacity ease 0.2s;
								position: absolute;
								right: -5rem;
								text-align: center;
								background:$colorblue;

								li{
									border-left: 0.0625rem solid $colorwhite;
									margin: 0.625rem 0;

									&:first-child{
										border-left:0rem;
									}
									a{
										display:block;
										color:$colorbluedark;
										font-size: 0.875rem;
										padding: 0 1.125rem;

										&:hover{
											color: $colorwhite;
										}
									}
									&.current-menu-item {
										a{
											color: $colorwhite
										}
									}
								}
								.hs-sub-menu-event,
								.hs-sub-menu-presse{
									a{
										padding:5.625rem 1.5rem 0 1.5rem;
										text-align: center;
										border-left:0.0625rem solid $colorwhite;

										&:first-child{
											border-left: 0rem;
										}
									}
								}
								.hs-sub-menu-presse{
									a{
										background:url(../images/picto-presse.png) no-repeat center top;
									}
								}
								.hs-sub-menu-event{
									a{
										background:url(../images/picto-events.png) no-repeat center top;
									}
								}
							}
							&:hover{
								a{
									&:before{
										opacity: 1;
										visibility: visible;
										transition-delay: 0.2s;
										transition: 0.4s transform cubic-bezier(0.77, 0, 0.175, 1) 0s, 0.4s visibility 0s, 0.4s opacity ease 0.2s;
										transform: none;
									}
								}
								
							}
						}
					}
				}
			}
		}
	}
}

/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
	header{
		padding: 1.875rem;

		&.header-scroll{
			.header-content{
				.header-nav{
					ul{
						li{
							&.menu-item-has-children{
								.sub-menu{
									right: -4.9375rem;
								}
							}
						}
					}
				}
			}
		}
		.header-logo {
			width: 11.875rem;
			height: 4.5rem;
		}
		.header-content{
			.header-nav{	
				ul{
					li{
						&.menu-item-has-children{
							.sub-menu{
								width: calc(100vw - 1rem);
								right: -5.625rem;

								li{
									a{
										font-size: 1rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}