/* -------------------------------
LOGIN MICRO COMPONENT
------------------------------- */
.login{
	background:$colorbluedark url(../images/bg-top-formation.png) no-repeat right top;
}
#login h1 a {
	background: url(../images/logo-hs2-footer.svg) no-repeat !important;
	width:12.3125rem;
	height: 4.3125rem;
}
.wp-core-ui{
	.button-primary{
		background:$colorblue;
		text-shadow:none;
		
		&:hover{
			background:$colorbluedark;
		}
	}
} 
.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large{
	width: 8.125rem;
	height: 2.5rem;
	margin-top: 2.625rem;
	border:none;
	box-shadow:0rem 0rem 0rem 0rem $colorwhite;
}
#login {
	#nav .wp-login-lost-password,
	#backtoblog a{
		color: $colorwhite;
	}
	.privacy-policy-page-link{
		display: none;
	}
}