/* -------------------------------
TYPOGRAPHY
------------------------------- */
@font-face {
	font-family: 'MuseoSlab-500';
	src:url('../fonts/museo/MuseoSlab-500.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museo/MuseoSlab-500.otf')  format('opentype'),
		url('../fonts/museo/MuseoSlab-500.woff') format('woff'),
		url('../fonts/museo/MuseoSlab-500.ttf')  format('truetype'),
		url('../fonts/museo/MuseoSlab-500.svg#MuseoSlab-500') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansRounded-900';
	src:url('../fonts/museo/MuseoSansRounded-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/museo/MuseoSansRounded-900.otf')  format('opentype'),
		url('../fonts/museo/MuseoSansRounded-900.woff') format('woff'),
		url('../fonts/museo/MuseoSansRounded-900.ttf')  format('truetype'),
		url('../fonts/museo/MuseoSansRounded-900.svg#MuseoSansRounded-900') format('svg');
	font-weight: normal;
	font-style: normal;
}

ul{
	margin:0;
	padding:0;
	
	li{
		list-style-type: none; 
	}
}

a{
	text-decoration:none;
}

h1,h2,h3{
	font-family: $fontsecondary;
}

.cbo-title-1, .cbo-title-1 h1, .cbo-title-1 h2, .cbo-title-1 h3, .cbo-title-1 h4.cbo-title-1 h5, .cbo-title-1 p, .cbo-cms h1,
.cbo-title-2, .cbo-title-2 h1, .cbo-title-2 h2, .cbo-title-2 h3, .cbo-title-2 h4.cbo-title-2 h5, .cbo-title-2 p, .cbo-cms h2{
	color: $colorblue;
	text-transform: uppercase;
	font-family: $fontsecondary;
	margin: 0;
}

.cbo-title-1, .cbo-title-1 h1, .cbo-title-1 h2, .cbo-title-1 h3, .cbo-title-1 h4.cbo-title-1 h5, .cbo-title-1 p, .cbo-cms h1{
	font-size: 2.125rem;
	line-height: 2.5rem;
}

.cbo-title-2, .cbo-title-2 h1, .cbo-title-2 h2, .cbo-title-2 h3, .cbo-title-2 h4.cbo-title-2 h5, .cbo-title-2 p, .cbo-cms h2{
	font-size: 1.75rem;
	line-height: 2.375rem;
}

.cbo-title-3, .cbo-title-3 h1, .cbo-title-3 h2, .cbo-title-3 h3, .cbo-title-3 h4.cbo-title-3 h5, .cbo-title-3 p, .cbo-cms h3{
	font-size: 1.375rem;
	line-height: 2.125rem;
}

.cbo-title-4, .cbo-title-4 h1, .cbo-title-4 h2, .cbo-title-4 h3, .cbo-title-4 h4.cbo-title-4 h5, .cbo-title-4 p, .cbo-cms h4{
	font-size: 1.125rem;
	line-height: 1.25rem;
	font-family: $fontprimary;
}

.cbo-uptitle{
	text-align: center;
	font-size: 1.125rem;
	margin-bottom: 0.625rem;
	font-family: $fontsecondary;
}

.cbo-chapo{
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.cbo-cms{
	h1,h2,h3,h4,h5{
		text-transform: none;
		margin: 2.5rem 0 0.875rem 0;

		&:first-child{
			margin-top: 0;
		}
	}
	p{
		margin: 0.875rem 0;

		&:last-child{
			margin-bottom: 0;
		}
		&:first-child{
			margin-top: 0;
		}
	}
	a{
		color:$colorblue;
	}
	a{
		text-decoration:underline;

		&.cbo-button,
		&.hs-button{
			text-decoration:none;
			color:$colorwhite;
			margin-top: 2.5rem;
		}
	}
	img{
		display: block;
		margin: 0 auto;
	}
	hr{
		border: 0;
		border-bottom: 0.0625rem solid rgba($colorbluedark, .2);
		margin: 3.125rem 0;
	}
	ul{
		li{
			position:relative;
			padding-left: 1rem;

			&:before{
				content:'';
				width:0.25rem;
				height:0.25rem;
				border-radius:50%;
				box-shadow:0rem 0rem 0rem 0.125rem $colorblue;
				position:absolute;
				top:0.625rem;
				left:0;
			}
		}
	}
}

/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
	.cbo-title-1, .cbo-title-1 h1, .cbo-title-1 h2, .cbo-title-1 h3, .cbo-title-1 h4.cbo-title-1 h5, .cbo-title-1 p, .cbo-cms h1{
		font-size: 3.125rem;
		line-height: 3.125rem;
	}
	.cbo-title-2, .cbo-title-2 h1, .cbo-title-2 h2, .cbo-title-2 h3, .cbo-title-2 h4.cbo-title-2 h5, .cbo-title-2 p, .cbo-cms h2{
		font-size: 2.75rem;
		line-height: 2.75rem;
	}
	.cbo-title-3, .cbo-title-3 h1, .cbo-title-3 h2, .cbo-title-3 h3, .cbo-title-3 h4.cbo-title-3 h5, .cbo-title-3 p, .cbo-cms h3{
		font-size: 1.5rem;
	}
}