/* -------------------------------
BLOCS METIER MICRO COMPONENT
------------------------------- */
.metiers-list{
	.list-el {
		.el-inner{
			border-radius:0.4375rem;
			background:$colorwhite;
			box-shadow: 0rem 0rem 0.625rem 0rem rgba(193, 193, 193, 0.65);
			color:$colorgrey;
			z-index: 2;
			position: relative;
			display:flex;
			justify-content: center;
			text-align: center;
			width: 100%;
			max-width: 21.875rem;
			margin: 1.25rem auto 0 auto;

			&:before,
			&:after{
				content:'';
				position:absolute;
				transition:all .3s cubic-bezier(.694,.048,.335,1);
			}
			&:before{
				background:#d4eeea;
				width:100%;
				height:3rem;
				top:0;
				left:0;
			}
			&:after{
				font-family:"icons";
				content:'\f118';
				top: 1.625rem;
				left: 50%;
				margin-left:-1.25rem;
				width: 2.5rem;
				height: 2.5rem;
				font-size: 1.5rem;
				padding: 0.4375rem 0 0 0;
				border-radius:50%;
				background:$colorblue;
				color:$colorwhite;
			}
			.el-title{
				font-size:0.875rem;
				color:$colorbluedark;
				position:relative;
				width: 100%;
				display: table;
				line-height: 1.1875rem;
				display: block;
				padding: 5.5rem 1.25rem 1.875rem;
				transition:all .4s cubic-bezier(.694,.048,.335,1);
			}
		}
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
	.metiers-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -0.625rem;

		.list-el{
			width: 33.33333%;
			padding: 0.625rem;

			.el-inner{
				margin: 0;
				max-width: inherit;
				height: 100%;
			}
		}
	}
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
	.metiers-list{
		.list-el{
			width: 25%;

			.el-inner{
				&:hover{
					&:before{
						height:100%;
						opacity:0.5;
					}
					&:after{
						top:4.375rem;
						margin-left:-1.25rem;
					}
					.el-title{
						opacity:0.5;
					}
				}
			}
		}
	}
}