/* -------------------------------
BREADCRUMB MICRO COMPONENT
------------------------------- */
.cbo-breadcrumb{
	font-size: 0.6875rem;
	line-height: 0.75rem;

	a{
		color:$colorbluedark;
		transition:all .4s cubic-bezier(.694,.048,.335,1);

		&:hover{
			color:$colorblue;
		}
	}
	.breadcrumb_last{
		color:$colorblue;
	}
}