/* -------------------------------
CONTAINER MICRO COMPONENT
------------------------------- */
.cbo-container {
  margin: 60px auto;
  max-width: 1240px;
  padding: 0 20px;
  position: relative;
  width: 100%;

  &.container--nomargin{
    margin: 0 auto;
  }
  &.container--padding {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 70px;
    padding-bottom:70px;
  }
  &.container--large{
    max-width: 1530px;
  }
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min) {
  .cbo-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
  .cbo-container {
    padding-left: 70px;
    padding-right: 70px;
    margin: 100px auto;
  }
}