/* -------------------------------
BLOC PRESS MICRO COMPONENT
------------------------------- */
.listing-press{
	.list-el{
		.el-inner{
			display: block;
			box-shadow: 0 0 0.625rem 0 hsla(0,0%,75.7%,.65);
			margin:1.25rem 0;
			border-radius: 0.4375rem;
			background: $colorwhite;
			padding: 1.25rem;
			color: $colorgrey;
			font-size: 0.875rem;

			.inner-picture{
				display: block;
				height: 5.375rem;
				width: 6.4375rem;
				text-align: center;
				margin: 0 auto 1.25rem auto;
			}
			.inner-content {
				padding-top: 1.25rem;
				display: block;
				border-top: 0.0625rem solid $colorbluedark;

				.content-title{
					color:$colorbluedark;
				}
				.content-date{
					color:$colorblue;
					font-size:0.75rem;
				}
				.content-text{
					margin: 0.4375rem 0 0 0;
					font-size: 0.875rem;
					line-height: 1.125rem;
				}
			}
		}
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
	.listing-press{
		.list-el{
			.el-inner{
				display:flex;
				align-items: center;
				justify-content: space-between;

				.inner-picture{
					margin: 0 1.875rem 0 0;
				}
				.inner-content{
					border-left: 0.0625rem solid $colorbluedark;
					border-top: none;
					width: 75%;
					padding:0 0 0 1.875rem;
					flex: 1;
				}
			}
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	.listing-press{
		.list-el{
			width: 66.6666666667%;
			margin:0 auto 1.875rem;
		}
	}
}