/* -------------------------------
SEARCH BUTTON & PAGE MICRO COMPONENT
------------------------------- */
.hs-overlay-search{
	background-color:rgba($colorbluedark, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9;
	padding: 0 30px;
	transform: translateY(-100%);
	transition: .5s all;
	
	&.hs-overlay-search-open{
		transform: translateY(0);
	}
	form{
		width: 100%;

		input,button{
			width: 100%;
			height: 60px;
			border: none;
			margin: 10px 0;
		}
		input{
			background: $colorwhite;
			padding: 0 15px;

			&:focus{
				box-shadow: 0px 0px 0px 3px $colorblue inset;
			}
		}
	}
	.search-close{
		border-radius: 50%;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 16px;
		color: $colorwhite;
		box-shadow: inset 0 0 0 2px $colorwhite;
		background: none;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .4s;

		&:hover{
			color: $colorblue;
			box-shadow: inset 0 0 0 2px $colorblue;
		}
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min) {
	.hs-overlay-search{
		form{
			display: flex;
			width: auto;

			input{
				width: 500px;
				margin: 0 20px 0 0;
			}
			button{
				margin: 0;
				width: auto;
			}
		}
	}
}