/* -------------------------------
SOCIAL SHARE MICRO COMPONENT
------------------------------- */
.cbo-share {
	right: 0;
	bottom: -25px;
	position: absolute;
	width: 100%;
	z-index: 4;
	height: 3.125rem;
	color: $colorwhite;
	background: $colorblue;

	.share-input{
		display: none;

		&:checked ~ {
			.share-options {
				height: fit-content;
				top: 3.125rem;
			
				&:before,
				li {
					transition: 0.3s 0.15s;
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
	.share-label,
	.share-options {
		position: absolute;
		right: 0;
		width: inherit;
		height: inherit;
	}
	.share-label{
		cursor: pointer;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.share-options {
		background: $colorblue;
		padding: 1.25rem;
		width: 100%;
		top: 0;
		margin: 0;
		overflow: hidden;
		transition: 0.2s;

		li {
			margin: 1rem 0;

			a{
				display: flex;
				align-items: center;
				color: $colorwhite;
				font-size: 0.875rem;
				line-height: 0.875rem;
				transition: all .4s;

				i{
					margin-right: 0.875rem;
				}
				&:hover{
					color: $colorbluedark;
				}
			}
		}
		&::before,
		li {
			opacity: 0;
			transform: translateY(0.625em);
			transition: 0s;
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	.cbo-share {
		right: 20px;
		bottom: 0px;
		width: 200px;
		text-align: left;

		.share-label{
			i{
				transform: rotate(-90deg);
				margin-left: 15px;
			}
		}
		.share-options{
			padding: 0.625rem;
			height: fit-content;
			top: 3.125rem;

			&:before,
			li {
				transition: 0.3s 0.15s;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
	.cbo-share {
		width: 13.125rem;
	}
}