/* -------------------------------
SOCIAL SHARE MICRO COMPONENT
------------------------------- */
.cbo-social{
	background: rgba($colorbluedark, .1);
	color: $colorbluedark;
	box-shadow: 0px 0px 0px 1px rgba($colorbluedark, .2);
	border-radius: 99rem;
	position: relative;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	margin: 50px auto 0 auto;
	padding: 0 16px;

	.share-title{
		margin-right: 16px;
	}
	.swp_social_panel{
		display: flex;
		align-items: center;
	
		.swp_share_button{
			flex: inherit !important;
			position: relative;
			margin: 0 4px;
	
			.swp_share_link{
				z-index: 2;
				position: absolute;
				background-size: 0px;
				height: 100%;
				width: 100%;
				left: 0;

			}
			&:after{
				font-family:"icons";
				font-size: 15px;
				color: $colorbluedark;
				z-index: -1;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: all .4s;
			}
			&:hover{
				&:after{
					color: $colorblue;
				}
			}
			&.swp_twitter,
			&.swp_facebook,
			&.swp_linkedin{
				color:$colorbluedark;
				transition: .5s $easeinout;
	
				&:hover{
					z-index: 1;
				}
				&.swp_twitter{
					&:after{
						content: '\f117';
					}
				}
				&.swp_linkedin{
					&:after{
						content: '\f10b';
					}
				}
				&.swp_facebook{
					&:after{
						content: '\f109';
					}
				}
				.swp_share{
					display: none;
				}
			}
		}
	}
}