/* -------------------------------
SOCIAL SHARE MICRO COMPONENT
------------------------------- */
.cbo-social{
	background: rgba($colorbluedark, .1);
	color: $colorbluedark;
	box-shadow: 0px 0px 0px 1px rgba($colorbluedark, .2);
	border-radius: 99rem;
	position: relative;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	margin: 50px auto 0 auto;
	padding: 0 16px;

	.share-title{
		margin-right: 10px;
	}
	.social-icon{
		color: $colorbluedark;
		display: flex;
		align-items: center;
		margin-left: 10px;
		transition: all .4s;

		&:hover{
			color: $colorblue;
		}
	}
}