/* -------------------------------
TABS MICRO COMPONENT
------------------------------- */
.hs-onglets-container{
	display:none;
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
	.hs-onglets-container{
		display: block;

		.hs-onglets{
			display: flex;
			text-align: center;
				
			.hs-onglet_title{
				border-right: 1px solid $colorwhite;
				cursor: pointer;
				position: relative;
				width: 100%;
				padding:15px;
				line-height:16px;
				background-color:#ebebeb;
				transition:all .4s cubic-bezier(.694,.048,.335,1);
				
				&:last-child{
					border-right:none;
				}
				i{
					display:block;
					font-size: 35px;
					margin-bottom: 10px;
				}
				&:hover,
				&.hs-onglet_title-active{
					background-color:$colorblue;
					color:$colorwhite;
				}
				&.hs-onglet_title-active{
					&:after{
						content:'';
						display : inline-block;
						height : 0;
						width : 0;
						border-top : 11px solid $colorblue;
						border-right : 11px solid transparent;
						border-left : 11px solid transparent;
						position:absolute;
						bottom:-11px;
						left:50%;
						margin-left:-6px;
					}
				}
			}
		}
		.hs-onglets_content{
			display:none;
			padding: 30px;

			.hs-formateurs-container{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;

				.hs-bloc-formateurs{
					margin: 0 20px 30px 20px;

					.hs-about-form_content-user-pic{
						border-radius: 50%;
						display: block;
						height: 70px;
						overflow: hidden;
						width: 70px;
						margin: 0 auto;
						margin-bottom:20px;
						position:relative;

						.pic{
							width: 100%;
							height: 100%;
							display: block;
						}
						.no-pic{
							background:#e2e2e2;
							position:absolute;
							top:0;
							left:0;
							width:100%;
							height:100%;
							z-index:1;
							text-align:center;
							font-size: 35px;
							padding-top: 16px;
						}
					}
				}
			}
		}
	}
}