/* -------------------------------
EVENT PAGE
------------------------------- */
.page-events{
	.listing-events{
		margin-top: 67px;
	}
	.hs-button{
		margin-top: 90px;
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
	.page-events{
		.listing-events{
			margin-top: 20px;
		}
	}
}