/* -------------------------------
   HOMEPAGE
------------------------------- */
.page-home{
	.cbo-entryhome{
		position: relative;
		overflow: hidden;

		.cbo-picture-cover{
			width: 100%;
			height: 100%;
			position: absolute;
		}
		.entryhome-content{
			max-width: 767px;
			margin: 0 auto;
			padding: 130px 20px 30px;
			text-align: center;

			.entryhome-title{
				font-size:38px;
				line-height:44px;
				color:$colorblue;
				margin-bottom: 30px;
			}
			.entryhome-text{
				display: block;
				color: $colorwhite;
				font-size: 22px;
				line-height: 36px;
				margin-bottom: 30px;
			}
			.hs-button{
				width: 100%;
			}
		}
	}
	.hs-grey-section{
		&:after{
			content:'';
			background:url(../images/after-bg-grey.png) no-repeat center;
			background-size: 100% ;
			bottom: -126px;
			left: 0;
			position: absolute;
			height: 300px;
			width: 100%;
			z-index: -1;
		}
	}
	.cbo-homevent{
		.homevent-intro{
			display:block;
			margin-bottom:40px;
			text-align: center;

			.hs-button{
				margin: 20px 0 0 0;
			}
		}
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
	.page-home{
		.hs-grey-section{
			&:after{
				bottom: -96px;
			}
		}
		.cbo-homecategories{
			.hs-main-title {
    			margin-bottom: 100px;
			}
			.categories-list{
				position: relative;
				z-index: 2;
			}
			&:after{
				content:'';
				background:#002135;
				position:absolute;
				bottom:0;
				left: 50%;
				height:calc(100% - 189px);
				width: 600px;
				margin-left: -300px;
			}
		}
		.cbo-homevent{
			.listing-events{
				max-width: 900px;
				margin: 40px auto 0 auto;

				.homevent-intro{
					width: 50%;
					text-align: left;
					padding: 0 10px;
					margin: 0;
	
					.hs-main-title{
						text-align: left;
						margin-bottom: 20px;
					}
				}
				.list-el{
					margin: -46px 0 0 0;

					&:nth-child(2n){
						margin: 0 0 20px 0;
					}
				}
			}
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	.page-home{
		.cbo-entryhome{
			.entryhome-content{
				padding:146px 0 50px 0;
				width: 80%;

				.hs-button{
					width: auto;
				}
			}
		}
		.cbo-homevent{
			.listing-events{
				.homevent-intro{
					padding: 0 20px;
				}
				.list-el{
					&:nth-child(2n){
						margin: 0 0 40px 0;
					}
				}
			}
		}
		.cbo-homecategories{
			&:after{
				width: 800px;
				margin-left: -400px;
			}
		}
	}
}
/* -------------------------------
   LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
	.page-home{
		.cbo-entryhome{
			.entryhome-content {
				padding:200px 0 100px 0;

				h1{
					font-size: 50px;
					line-height: 50px;
				}
				span{
					font-size: 30px;
					line-height: 36px;
				}
			}
		}
		.hs-grey-section{
			&:after{
				bottom: -76px;
			}
		}
		.cbo-homecategorie{
			&:after{
				height:calc(100% - 214px);
			}
		}
	}
}