/* -------------------------------
PRESS PAGE COMPONENT
------------------------------- */
.hs-press-single-page{
	.hs-section{
		padding: 120px 20px 60px 20px;
	}
	.hs-singlepresse-bloc{
		.hs-singlepresse-bloc_img{
			width: 150px;
			margin: 0 auto;

			img{
				max-width:100%;
			}
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	.hs-press-single-page{
		.hs-section{
			padding: 120px 20px 120px 20px;
		}
		.hs-singlepresse-bloc{
			width: 66.6666666667%;
			margin: 0 auto;
			display: flex;
			align-items: center;

			.hs-singlepresse-bloc_img{
				width: 30%;
				padding: 0 60px 0 0;
				border-right: 1px solid $colorbluedark;
			}
			.hs-singlepresse-bloc_content{
				width: 70%;
				padding: 0 0 0 60px;

				.hs-button{
					display: inline-flex;
				}
			}
		}
	}
}