/* -------------------------------
SINGLE FORMATION PAGE COMPONENT
------------------------------- */
.hs-page-formation{
	background:#f2f2f2;
	position:relative;
	overflow: hidden;

	&:before{
		content:'';
		position:absolute;
		top:0;
		left:0;
		height:360px;
		width: 100%;
		background:#f2f2f2 url(../images/hero-single-formation.jpg) no-repeat;
		background-size: cover;
	}
	.formation-hero{
		position: relative;

		.hero-inner{
			background:$colorwhite;
			margin:0 auto;
			margin-top: 210px;
			box-shadow: 0px 0px 10px 0px rgba(193, 193, 193, 0.65);

			.hero-content{
				padding:5px 20px 20px 20px;

				.content-title{
					color:$colorblue;
					margin:30px 0 15px 0;
					font-size:30px;
					line-height: 35px;
				}
				.eventon_main_section{
					.calendar_header{
						display: none;
					}
					.eventon_events_list{
						border: none !important;
			
						.evose_repeat_header, .desc_trig_outter{
							display: none !important;
						}
						.event_description{
							.evo_metarow_details,
							.evo_metarow_time_location,
							.evo_metarow_ICS,
							.evo_metarow_time{
								display: none;
							}
						}
						.event_description{
							border: none;
							padding: 0;
							background: none;
			
							.evo_metarow_repeats{
								margin: 0;
								padding: 20px;
			
								.evcal_evdata_icons{
									display: none;
								}
								.evcal_evdata_cell{
									padding: 0;
			
									.evo_h3{
										color: $colorbluedark;
										padding: 0;
										margin-bottom: 20px;
									}
									.evo_repeat_series_dates{
										.evo_repeat_series_date{
											display: block;
											background: none;
											padding: 0;
											color: $colorbluedark;
										}
									}
								}
							}
						}
					}
				}
				.content-clock{
					display:block;
					font-size:14px;
					margin-bottom:40px;

					i{
						margin:-5px 5px 0 0;
					}
				}
			}
		}
	}
	.hs-button{
		&.contact-scroll {
			position: absolute;
			right: 0;
			top: 170px;
			width: 100%;
			z-index: 2;
		}
	}
	.hs-skills{
		&:after{
			display: none;
		}
		.hs-download{
			min-width: 300px;
			margin-bottom: 80px;
		}
	}
	.hs-blue-section{
	    overflow: hidden;

		&:after{
			content:'';
			position:absolute;
			right:0;
			background:url(../images/bg-bottom-formation.png) no-repeat;
			width:402px;
			height:633px;
			bottom:0;
		}
	}
	.cbo-formationcontact{
		position: relative;

		.cbo-picture-cover{
			width: 100%;
			height: 100%;
			position: absolute;
			
			&:after{
				content: '';
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.6);
			}
		}
		.formationcontact-content{
			color: $colorwhite;
			padding: 100px 30px;
			position: relative;
			z-index: 2;

			.formationcontact-form{
				padding: 30px;
				border-radius: 7px;
				background: $colorwhite;
				font-size: 14px;

				form{
					.form-title{
						display:block;
						font-weight: bold;
						margin-bottom: 25px;
					}
				}
			}
		}
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
	.hs-page-formation{
		.hs-blue-section{
			.hs-page-formation-programme{
				column-count: 2;
				column-gap: 120px;

				.hs-page-formation-programme_day{
					font-size:20px;
					color:$colorblue;
					text-transform:uppercase;
					margin:50px 0 15px 0;
					display:block;
					position:relative;

					&:first-child{
						margin:0px 0 15px 0;
					}
					&:before{
						content:'';
						background:$colorblue;
						height:1px;
						left:-34px;
						position: absolute;
						top: 10px;
						width: 20px;
					}
				}
				p{
					margin:0;
				}
			}
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	.hs-page-formation{	
		.hero-inner{
			width: 60%;
			margin:200px auto 0;
		}
		.hs-button{
			&.contact-scroll{
				top: 300px;
				width: auto;
			}
		}
		.cbo-formationcontact{
			.formationcontact-content{
				.content-inner{
					display: flex;
				}
				.formationcontact-title,
				.formationcontact-form{
					width: 50%;
				}
				.formationcontact-title{
					padding: 0 80px 0 0;
					
					.hs-main-title{
						text-align: left;
					}
				}
			}
		}
	}
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
	.hs-page-formation{
		.hs-button{
			&.contact-scroll{
				right: 24px;
			}
		}
		.hs-skills{
			.hs-accordeon{
				display:none;
			}
		}
		.hs-blue-section{
			.hs-page-formation-programme{
				width: 80%;
				margin: 0 auto;
			}
		}
		.cbo-formationcontact{
			.formationcontact-content{
				.formationcontact-title{
					width: 40%;
				}
				.formationcontact-form{
					width: 60%;
				}
			}
		}
	}
}