/* -------------------------------
BIO BLOCK COMPONENT
------------------------------- */
.cbo-bio{
	.bio-list{
		margin: 0 auto;
		max-width: 31.25rem;

		.list-el{
			margin: 2.5rem 0;

			.el-inner{
				.el-picture{
					padding-bottom: 90%;
					margin-bottom: 0.625rem;
					border-radius: 0.3125rem;
					overflow: hidden;
				}
				.el-title{
					color:$colorblue;
					font-size:1.25rem;
					font-weight: bold;
					margin-bottom: 0.625rem;
				}
			}
		}
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
	.cbo-bio{
		.bio-list{
			max-width: inherit;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: -1.25rem -0.625rem;

			.list-el{
				margin: 0;
				width: 50%;
				padding: 1.25rem 0.625rem;
			}
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	.cbo-bio{
		.bio-list{
			.list-el{
				width: 33.33333%;
			}
		}
	}
}