/* -------------------------------
FICHE FORMATION BLOCK COMPONENT
------------------------------- */
.cbo-fiches{
	.fiches-list{
		.list-el{
			text-align: center;
			display: block;
			max-width: 28.125rem;
			margin: 0 auto;

			.el-inner{
				background: $colorwhite;
				display: block;
				box-shadow: 0 0 0.625rem 0 rgba($colorgrey,.65);
				margin: 1.25rem 0;
				border-radius: 0.4375rem;
				padding: 1.25rem;
				color: $colorbluedark;
				font-size: 0.875rem;

				.el-picture{
					width: 6.4375rem;
					height: 4.25rem;
					margin: 0 auto 0.625rem auto;
					display: block;
				}
				.el-title{
					width: 100%;
					border-top: 0.0625rem solid $colorbluedark;
					margin-top: 1.25rem;
					display: block;
					padding-top: 1.25rem;
				}
			}
		}
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
	.cbo-fiches{
		.fiches-list{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: -0.625rem;

			.list-el{
				max-width: inherit;
				margin: 0;
				width: 50%;
				padding: 0.625rem;

				.el-inner{
					margin: 0;
					height: 100%;
				}
			}
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	.cbo-fiches{
		.fiches-list{
			.list-el{
				width: 33.333333%
			}
		}
	}
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
	.cbo-fiches{
		.fiches-list{
			.list-el{
				width: 25%
			}
		}
	}
}