/* -------------------------------
CONTACT BLOCK COMPONENT
------------------------------- */
.cbo-contact{
	background:$colorbluedark url(../images/bg-contact-component.jpg) center top no-repeat;
	background-size: 100% auto;
	color:$colorwhite;
	padding-top: 90px;

	.contact-content{
		text-align:center;
		margin: 0 auto 40px auto;

		.contact-list{
			margin-top: 40px;

			.list-el{
				.el-inner{
					display: flex;
					width: 100%;
					margin: 0 0 20px 0;
					padding: 15px;
					border-bottom: 5px solid $colorblue;
					border-radius: 7px;
					background: $colorwhite;
					font-size: 14px;
					color: $colorbluedark;
					text-align: left;

					.el-picture{
						display: block;
						min-width: 76px;
						margin-right: 30px;

						img{
							position: relative;
						}
					}
					.inner-content{
						flex: 1;

						.el-title{
							font-size: 20px;
							font-weight: bolder;
							margin-bottom: 20px;
						}
					}
					ul{
						display: flex;

						li{
							margin-right:10px;

							i{
								background-color:$colorbluedark;
								color:$colorwhite;
								display:flex;
								align-items: center;
								justify-content: center;
								width:30px;
								height:30px;
								border-radius:50%;
								transition:all .4s cubic-bezier(.694,.048,.335,1);

								&:hover{
									background-color:$colorblue;
								}
							}
						}
					}
				}
			}
		}
	}
	.contact-form {
		padding: 20px;
		border-radius: 7px;
		background: $colorwhite;
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	.cbo-contact{
		padding: 200px 30px 120px;

		.contact-inner{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;

			.contact-content{
				margin: 0;
				width: 50%;
				text-align: left;

				.hs-main-title{
					text-align: left;
				}
			}
			.contact-form{
				padding: 30px;
				width: 45%;
			}
		}
	}
}