/* -------------------------------
CONTACT BLOCK COMPONENT
------------------------------- */
.cbo-contact{
	background:$colorbluedark url(../images/bg-contact-component.jpg) center top no-repeat;
	background-size: 100% auto;
	color:$colorwhite;
	padding:170px 20px 100px;
	overflow: hidden;

	.contact-inner{
		.contact-content{
			text-align:center;
			margin: 0 auto 40px auto;

			.contact-list{
				margin-top: 40px;

				.list-el{
					.el-inner{
						width: 100%;
						margin: 0 0 20px 0;
						padding: 15px;
						border-bottom: 5px solid #64c2b3;
						border-radius: 7px;
						background: $colorwhite;
						font-size: 14px;
						color: $colorbluedark;
						text-align: center;

						.el-picture{
							margin: 0 auto 20px;
							display: block;
							width: 73px;

							img{
								position: relative;
							}
						}
						.el-title{
							font-size: 20px;
							text-align: center;
							font-weight: bolder;
						}
						ul{
							text-align:center;
							margin-top:30px;

							li{
								display:inline-block;
								margin:0 5px;

								i{
									background-color:$colorbluedark;
									color:$colorwhite;
									width:30px;
									height:30px;
									border-radius:50%;
									padding:8px 0 0 0;
									transition:all .4s cubic-bezier(.694,.048,.335,1);

									&:hover{
										background-color:$colorblue;
									}
								}
							}
						}
					}
				}
			}
		}
		.contact-form {
			padding: 20px;
			border-radius: 7px;
			background: $colorwhite;
		}
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
	.cbo-contact{
		.contact-inner{
			.contact-content{
				.contact-list{
					display: flex;
					flex-wrap: wrap;
					margin: 50px -10px;

					.list-el{
						width: 33.33333%;
						padding: 0 10px;

						.el-inner{
							height: 100%;
							margin: 0;
						}
					}
				}
			}
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	.cbo-contact{
		padding: 200px 30px 120px;

		.contact-inner{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;

			.contact-content{
				margin: 0;
				width: 50%;
				text-align: left;

				.hs-main-title{
					text-align: left;
				}
				.contact-list{
					margin: 20px -10px 0 -10px;
				}
			}
			.contact-form{
				padding: 30px;
				width: 45%;
			}
		}
	}
}