/* -------------------------------
CONTACT BLOCK COMPONENT
------------------------------- */
.cbo-contact{
	background:$colorbluedark url(../images/bg-contact-component.jpg) center top no-repeat;
	background-size: 100% auto;
	color:$colorwhite;
	padding-top: 5.625rem;

	.contact-content{
		text-align:center;
		margin: 0 auto 2.5rem auto;

		.contact-list{
			margin-top: 2.5rem;

			.list-el{
				.el-inner{
					display: flex;
					width: 100%;
					margin: 0 0 1.25rem 0;
					padding: 0.9375rem;
					border-bottom: 0.3125rem solid $colorblue;
					border-radius: 0.4375rem;
					background: $colorwhite;
					font-size: 0.875rem;
					color: $colorbluedark;
					text-align: left;

					.el-picture{
						display: block;
						min-width: 4.75rem;
						margin-right: 1.875rem;

						img{
							position: relative;
						}
					}
					.inner-content{
						flex: 1;

						.el-title{
							font-size: 1.25rem;
							font-weight: bolder;
							margin-bottom: 1.25rem;
						}
					}
					ul{
						display: flex;

						li{
							margin-right:0.625rem;

							i{
								background-color:$colorbluedark;
								color:$colorwhite;
								display:flex;
								align-items: center;
								justify-content: center;
								width:1.875rem;
								height:1.875rem;
								border-radius:50%;
								transition:all .4s cubic-bezier(.694,.048,.335,1);

								&:hover{
									background-color:$colorblue;
								}
							}
						}
					}
				}
			}
		}
	}
	.contact-form {
		padding: 1.25rem;
		border-radius: 0.4375rem;
		background: $colorwhite;
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	.cbo-contact{
		padding: 12.5rem 1.875rem 7.5rem;

		.contact-inner{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;

			.contact-content{
				margin: 0;
				width: 50%;
				text-align: left;

				.hs-main-title{
					text-align: left;
				}
			}
			.contact-form{
				padding: 1.875rem;
				width: 45%;
			}
		}
	}
}