/* -------------------------------
HERO COMPONENT
------------------------------- */
.cbo-hero{
	background: $colorbluedark url(../images/bg-hero.jpg) right top no-repeat;
	background-size: cover;
	color:$colorwhite;
	padding: 8.75rem 1.25rem 4.5rem 1.25rem;
	text-align:center;
	position:relative;

	.hero-title{
		margin-bottom: 0;

		a{
			color: $colorwhite;
		}
	}
	.hero-content{
		margin-top: 2.5rem;
		padding:0 1.25rem;
		display: block;
	}
	&.hero--filters{
		padding-bottom: 0;
		margin-bottom: 8.25rem;
	}
	.categories-list{
		position: relative;
		width: 100%;
		top: 4.5rem;
		display: flex;
		text-align: center;
		border-radius: 0.4375rem;
		background: $colorwhite;
		box-shadow: 0 0 0.625rem 0 hsla(0,0%,75.7%,.65);
		padding: 1.25rem 1.875rem;
		color: #b1b1b1;
		z-index: 2;

		.list-el{
			color:$colorbluedark;
			display: block;
			width: 50%;
			position:relative;
			font-size: 0.9375rem;

			&:first-child{
				border-right: 0.0625rem solid $colorbluedark;
			}
			img{
				display:block;
				margin: 0 auto;
				margin-bottom: 0.625rem;
				position:relative;
				z-index:9;
				max-width:50%;
			}
			.el-text{
				position: relative;
				z-index: 2;
			}
			&:after{
				content:'';
				background:#d4eeea;
				border-radius:50%;
				width:6.25rem;
				height:6.25rem;
				position:absolute;
				top:0;
				left:50%;
				margin:0 0 0 -3.125rem;
				z-index: 1;
				transform:scale(0);
				transition:all .4s cubic-bezier(.694,.048,.335,1);
			}
			&:hover{
				&:after{
					transform:scale(1);
				}
			}
		}
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
	.cbo-hero{
		.categories-list {
			margin-left: -18.75rem;
			width:37.5rem;
			left: 50%;
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min){
	.cbo-hero{
		padding:12.5rem 0 9.375rem 0;
	}
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min){
	.cbo-hero{
		padding:15.625rem 0 9.375rem 0;

		.hero-content{
			width:50%;
			margin:2.5rem auto 0 auto;
		}
		&.hero--filters{
			margin-bottom: 12.5rem;
		}
	}
}