/* -------------------------------
RELATION COMPONENT
------------------------------- */
.cbo-relation{
    .relation-title{
        text-align: center;
    }
    .relations-button{
        margin-top: 3.125rem;
        text-align: center;
    }
}