/* -------------------------------
SIMPLE TXT BLOCK COMPONENT
------------------------------- */
.hs-section-simple-txt{
	color:$colorgrey;

	&.hs-blue-section{
		b, strong, a{
			color:$colorblue;
		}
	}
}
/* -------------------------------
SMALL SCREENS
------------------------------- */
@media (min-width: $screen-sm-min){
	.hs-section-simple-txt{
		margin: 0 auto;
		width: 66.6666666667%;
	}
}